=====================================================================
== "file input/output" example with zrt library usage. the new channels design
== following channels: stdin, stdout, stderr used
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 999999, 999999, 0, 0
Channel = {ABS_PATH}file_stat.output.data, /dev/stdout, 0, 0, 0, 999999, 999999
Channel = {ABS_PATH}file_stat.user.log, /dev/stderr, 0, 0, 0, 999999, 999999
Channel = {ABS_PATH}file_stat.zrt.log, /dev/debug, 0, 0, 0, 999999, 999999
Channel = {ABS_PATH}generated.data, readdata, 1, 9999, 9999, 0, 0
Channel = {ABS_PATH}write.data, writedata, 2, 0, 0, 999, 999
Channel = {ABS_PATH}cdr.data, /dev/image, 1, 999, 999, 999, 999
Channel = {ABS_PATH}randomread.data, randomread, 3, 999, 999, 0, 0
Channel = {ABS_PATH}randomwrite.data, randomwrite, 3, 0, 0, 999, 999


=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = {ABS_PATH}file_stat.nexe
NexeMax = 10000000
SyscallsMax = 3333
NodeName=filestat,1
