#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
include /usr/share/quilt/quilt.make

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
override_dh_auto_configure:
	dh_auto_configure -- --libdir=/usr/lib/$(DEB_HOST_MULTIARCH)

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	./configure
	touch config.status

	dh_clean
	$(MAKE) clean
	-rm -rf config.log \
		config.status
#	testbed/aRGBlcms2.icc \
#	testbed/bchslcms2.icc \
#	testbed/glablcms2.icc \
#	testbed/graylcms2.icc \
#	testbed/labv2lcms2.icc \
#	testbed/labv4lcms2.icc \
#	testbed/lcms2cmyk.icc \
#	testbed/limitlcms2.icc \
#	testbed/linlcms2.icc \
#	testbed/nullcms2.icc \
#	testbed/sRGBlcms2.icc \
#	testbed/xyzlcms2.icc \
#	config.log \
#	config.status
	touch config.status


#override_dh_auto_test:

%:
	dh $@ 
