=====================================================================
== "template" for glibc-tests nexes
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 999999, 999999, 0, 0
Channel = {OUTFILE}.stdout.std, /dev/stdout, 0, 0, 0, 999999, 999999
==Channel = /dev/stdout, /dev/stdout, 0, 0, 0, 999999, 999999
Channel = {OUTFILE}.stderr.std, /dev/stderr, 0, 0, 0, 999999, 999999
Channel = {OUTFILE}.zrtdebug.log, /dev/debug, 0, 0, 0, 50999999, 50999999

CommandLine = {COMMAND_LINE}

=====================================================================
== inject tar archives contents into ZRT filesystem using fstab.conf
=====================================================================
Channel = {ABS_PATH}fstab.conf, /dev/fstab, 0, 999999, 999999, 0, 0
Channel = {ABS_PATH}mounts/tmp_dir.tar, /dev/mount/tmp, 0, 9999999, 9999999, 0, 0
===== add localisations separatedly 
Channel = {MOUNTS_PATH}locales/de_DE.UTF-8.tar, /dev/mount/de_DE.UTF-8.tar, 0, 9999999, 9999999, 0, 0
Channel = {MOUNTS_PATH}locales/cs_CZ.UTF-8.tar, /dev/mount/cs_CZ.UTF-8.tar, 0, 9999999, 9999999, 0, 0
Channel = {MOUNTS_PATH}locales/en_US.ISO-8859-1.tar, /dev/mount/en_US.ISO-8859-1.tar, 0, 9999999, 9999999, 0, 0
Channel = {MOUNTS_PATH}locales/de_DE.ISO-8859-1.tar, /dev/mount/de_DE.ISO-8859-1.tar, 0, 9999999, 9999999, 0, 0
Channel = {MOUNTS_PATH}locales/tr_TR.UTF-8.tar, /dev/mount/tr_TR.UTF-8.tar, 0, 9999999, 9999999, 0, 0
Channel = {MOUNTS_PATH}locales/en_US.UTF-8.tar, /dev/mount/en_US.UTF-8.tar, 0, 9999999, 9999999, 0, 0
Channel = {MOUNTS_PATH}locales/fa_IR.UTF-8.tar, /dev/mount/fa_IR.UTF-8.tar, 0, 9999999, 9999999, 0, 0
Channel = {MOUNTS_PATH}locales/ja_JP.EUC-JP.tar, /dev/mount/ja_JP.EUC-JP.tar, 0, 9999999, 9999999, 0, 0
Channel = {MOUNTS_PATH}locales/zh_TW.EUC-TW.tar, /dev/mount/zh_TW.EUC-TW.tar, 0, 9999999, 9999999, 0, 0
Channel = {MOUNTS_PATH}locales/en_US.ANSI_X3.4-1968.tar, /dev/mount/en_US.ANSI_X3.4-1968.tar, 0, 9999999, 9999999, 0, 0
Channel = {MOUNTS_PATH}locales/hr_HR.ISO-8859-2.tar, /dev/mount/hr_HR.ISO-8859-2.tar, 0, 9999999, 9999999, 0, 0

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = {OUTFILE}.nexe
==MemMax=134217728
MemMax={MEMMAX}
Timeout=10
Environment = VERBOSITY, 2, TimeStamp, 1344719070 {ENVIRONMENT}, LOCPATH, /lib/locale
NodeName=glibc-test,1

