=====================================================================
== "template" for glibc-tests nexes
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 999999, 999999, 0, 0
Channel = {OUTFILE}.stdout.std, /dev/stdout, 0, 0, 0, 999999, 999999
==Channel = /dev/stdout, /dev/stdout, 0, 0, 0, 999999, 999999
Channel = {OUTFILE}.stderr.std, /dev/stderr, 0, 0, 0, 999999, 999999
Channel = {OUTFILE}.zrtdebug.log, /dev/debug, 0, 0, 0, 50999999, 50999999
Channel = {GLIBC_FS}, /dev/tarimage, 0, 9999999, 9999999, 0, 0

CommandLine = {COMMAND_LINE}

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = {OUTFILE}.nexe
NexeMax = 10000000
SyscallsMax = 3333
==MemMax=134217728
MemMax={MEMMAX}
Timeout=10
Environment = TimeStamp, 1344719070 {ENVIRONMENT}
NodeName=glibc-test,1

