###########################################################
# ZRT fstab file, injects tar images contents into ZRT FS #
###########################################################

[fstab]
#inject localization files as several separated tar images. 
#copy contents into "/lib" folder
channel=/dev/mount/de_DE.UTF-8.tar, mountpoint=/, access=ro
channel=/dev/mount/cs_CZ.UTF-8.tar, mountpoint=/, access=ro
channel=/dev/mount/en_US.ISO-8859-1.tar, mountpoint=/, access=ro
channel=/dev/mount/de_DE.ISO-8859-1.tar, mountpoint=/, access=ro
channel=/dev/mount/tr_TR.UTF-8.tar, mountpoint=/, access=ro
channel=/dev/mount/en_US.UTF-8.tar, mountpoint=/, access=ro
channel=/dev/mount/fa_IR.UTF-8.tar, mountpoint=/, access=ro
channel=/dev/mount/ja_JP.EUC-JP.tar, mountpoint=/, access=ro
channel=/dev/mount/zh_TW.EUC-TW.tar, mountpoint=/, access=ro
channel=/dev/mount/en_US.ANSI_X3.4-1968.tar, mountpoint=/, access=ro
channel=/dev/mount/hr_HR.ISO-8859-2.tar, mountpoint=/, access=ro

#additional test files 
channel=/dev/mount/tmp, mountpoint=/, access=ro

[env]
name=LOCPATH,   value=/lib/locale
{ENVIRONMENT} 

[args]
{COMMAND_LINE}

[time]
seconds=1344719070

[debug]
verbosity=4
