=====================================================================
== "template" for zrt-tests nexes
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 0, 999999, 999999, 0, 0
Channel = {OUTFILE}.stdout.std, /dev/stdout, 0, 0, 0, 0, 999999, 999999
Channel = {OUTFILE}.stderr.std, /dev/stderr, 0, 0, 0, 0, 999999, 999999
Channel = {OUTFILE}.zrtdebug.log, /dev/debug, 0, 0, 0, 0, 50999999, 50999999
Channel = {OUTFILE}.nvram, /dev/nvram, 0, 0, 999999, 999999, 0, 0
Channel = {ABS_PATH}autotests/channels/forreading, /dev/readonly, {CHANTYPE1}, 0, 99999, 999999, 0, 0
Channel = {ABS_PATH}autotests/channels/forwriting, /dev/writeonly, {CHANTYPE2}, 0, 0, 0, 99999999999, 9999999999
Channel = {ABS_PATH}autotests/channels/forreadwrite, /dev/read-write, {CHANTYPE3}, 0, 99999, 99999, 99999, 99999

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20130611
Program = {OUTFILE}.nexe
==MemMax=33554432
==MemMax=67108864
==MemMax=134217728
Memory={MEMMAX}, 0
Timeout=10


