=====================================================================
== "template" for zrt-tests nexes
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 0, 999999, 999999, 0, 0
Channel = {OUTFILE}.stdout.std, /dev/stdout, 0, 0, 0, 0, 999999, 999999
Channel = {OUTFILE}.stderr.std, /dev/stderr, 0, 0, 0, 0, 49999999, 49999999
Channel = {OUTFILE}.zrtdebug.log, /dev/debug, 0, 0, 0, 0, 50999999, 50999999
Channel = {OUTFILE}.nvram, /dev/nvram, 1, 0, 999999, 999999, 0, 0
==foo.tar must be created by main zrt Makefile in order to proper run some autotests
Channel = {OUTFILE}.{TAR_MOUNT}, /dev/mount/import.tar, 1, 0, 9999999, 9999999, 0, 0
Channel = {OUTFILE}.readonly.channel, /dev/readonly, {CHANTYPE1}, 0, 99999, 999999, 0, 0
Channel = {OUTFILE}.writeonly.channel, /dev/writeonly, {CHANTYPE2}, 0, 0, 0, 99999999999, 9999999999
Channel = {OUTFILE}.read-write.channel, /dev/read-write, {CHANTYPE3}, 0, 99999, 99999, 99999, 99999

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20130611
Program = {OUTFILE}.nexe
Memory={MEMMAX}, 0
Timeout=1000
Job={JOB}

