=====================================================================
== "template" for zrt-tests nexes
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 999999, 999999, 0, 0
Channel = {OUTFILE}.stdout.std, /dev/stdout, 0, 0, 0, 999999, 999999
==Channel = /dev/stdout, /dev/stdout, 0, 0, 0, 999999, 999999
Channel = {OUTFILE}.stderr.std, /dev/stderr, 0, 0, 0, 999999, 999999
Channel = {OUTFILE}.zrtdebug.log, /dev/debug, 0, 0, 0, 50999999, 50999999

CommandLine = {COMMAND_LINE}

=====================================================================
== inject tar archives contents into ZRT filesystem using fstab.conf
=====================================================================
Channel = {ABS_PATH}mounts/fstab.conf, /dev/fstab, 0, 999999, 999999, 0, 0
Channel = {MOUNTS_PATH}glibc-locale/locale-lib.tar, /dev/mount/lib, 0, 9999999, 9999999, 0, 0
Channel = {MOUNTS_PATH}glibc-locale/locale-share.tar, /dev/mount/share, 0, 9999999, 9999999, 0, 0

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = {OUTFILE}.nexe
==MemMax=134217728
MemMax={MEMMAX}
Timeout=10
Environment = VERBOSITY, 3, TimeStamp, 1337012520 {ENVIRONMENT}
NodeName=zrt-test,1

