###########################################################
# ZRT nvram file, setup cmd line args, environment vars   #
###########################################################

[env]
{ENVIRONMENT} 
name=usable, value=1\x2C2\x2C3/"1\x2C2\x2C3"

[args]
{COMMAND_LINE}

[mapping]
{MAPPING}

[fstab]
{FSTAB}

[time]
{SECONDS}

[debug]
verbosity=4

[precache]
{PRECACHE}