###########################################################
# ZRT nvram file, setup cmd line args, environment vars   #
###########################################################

[env]
{ENVIRONMENT} 

[args]
{COMMAND_LINE}

[mapping]
{MAPPING}

[time]
seconds=1337012520

[debug]
verbosity=3
