=====================================================================
== i/o switches. full list. optional. some switches now meaningless,
== placed here for completeness and future changes
=====================================================================
Channel = {ABS_PATH}lua.input, /dev/stdin, 0, 999999, 999999, 0, 0
Channel = {ABS_PATH}lua.output, /dev/stdout, 0, 0, 0, 999999, 999999
Channel = {ABS_PATH}lua.log, /dev/stderr, 0, 0, 0, 9999999, 9999999
Channel = {ABS_PATH}zrtdebug.log, /dev/debug, 0, 0, 0, 9999999, 9999999

Channel = {LUA_TEST_PATH}all.lua, /dev/lua/all.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}big.lua, /dev/lua/big.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}checktable.lua, /dev/lua/checktable.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}constructs.lua, /dev/lua/constructs.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}errors.lua, /dev/lua/errors.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}gc.lua, /dev/lua/gc.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}literals.lua, /dev/lua/literals.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}main.lua, /dev/lua/main.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}pm.lua, /dev/lua/pm.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}vararg.lua, /dev/lua/vararg.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}api.lua, /dev/lua/api.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}bitwise.lua, /dev/lua/bitwise.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}closure.lua, /dev/lua/closure.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}coroutine.lua, /dev/lua/coroutine.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}events.lua, /dev/lua/events.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}goto.lua, /dev/lua/goto.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}locals.lua, /dev/lua/locals.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}math.lua, /dev/lua/math.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}sort.lua, /dev/lua/sort.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}verybig.lua, /dev/lua/verybig.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}attrib.lua, /dev/lua/attrib.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}calls.lua, /dev/lua/calls.lua, 0, 9999999, 9999999, 0, 0                        
Channel = {LUA_TEST_PATH}code.lua, /dev/lua/code.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}db.lua, /dev/lua/db.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}files.lua, /dev/lua/files.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}nextvar.lua, /dev/lua/nextvar.lua, 0, 9999999, 9999999, 0, 0
Channel = {LUA_TEST_PATH}strings.lua, /dev/lua/strings.lua, 0, 9999999, 9999999, 0, 0                                 
                             

=='@' should be replaced by '=' in user main, currently zerovm does not supported '=' char in command line
CommandLine = -e_U@true /dev/lua/all.lua

Environment = PATH, foo

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = {ABS_PATH}lua.nexe
MemMax=134217728
Timeout=10
NodeName=luatests, 1
