=====================================================================
== i/o switches. full list. optional. some switches now meaningless,
== placed here for completeness and future changes
=====================================================================
Channel = /dev/null, /dev/stdin, 0, 1, 1, 0, 0
Channel = {ABS_PATH}gtest_environment_test.log, /dev/stdout, 0, 0, 0, 99999, 99999
Channel = {ABS_PATH}gtest_err.log, /dev/stderr, 0, 0, 0, 100000, 100000
Channel = {ABS_PATH}gtest_debug.log, /dev/debug, 0, 0, 0, 99999999, 9999999

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
NodeName=envtest,1
Nexe = {ABS_PATH}gtest_environment_test.nexe
NexeMax = 10000000
MemMax=100000000
Timeout=10