=====================================================================
== "template" for nacltests
=====================================================================
Channel = {ABS_PATH}{NAME}.stdin.data, /dev/stdin, 0, 999999, 999999, 0, 0
Channel = {ABS_PATH}{NAME}.stdout.data, /dev/stdout, 0, 0, 0, 999999, 999999
Channel = {ABS_PATH}{NAME}.stderr.data, /dev/stderr, 0, 0, 0, 999999, 999999
Channel = {ABS_PATH}{NAME}.zrtdebug.log, /dev/debug, 0, 0, 0, 99999999, 99999999

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 09082012
Nexe = {ABS_PATH}{NAME}.nexe
NexeMax = 10000000
SyscallsMax = 3333
Timeout=60
NodeName={NAME},1

